*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV EDIT STARTS */
nav ul{
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 2rem;
}

.logo{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}

li a{
    color: white;
    text-decoration: none;
}

.get{
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    background-color: #ac502c;
    font-size: 1.5rem;
}
/* NAV EDIT ENDS */

/* SECTION ONE EDIT STARTS */
section.one{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.bannerBox img{
    height: 50vh;
    border-radius: 0.3rem;
}

.bannerBox{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    gap: 4rem;
    border-radius: 0.3rem;
    padding: 3rem 0;
    margin-top: 2rem;
    width: 98vw;
    background-color: #F4F2F3;
}

h1{
    font-size: 3rem;
}

p{
    padding: 1rem 0;
}

h4{
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.rice-sauce-txt{
    display: none;
}

img{
    display: block;
}

.active{
    display: none;
}
/* SECTION ONE EDIT ENDS */


/* CONTROL SECTION EDIT STARTS */

section.controls{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 20vh;
    gap: 3rem;
}

button{
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.1px solid black;
    cursor: pointer;
    background-color: white;
}

input{
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.1px solid black;
}

section.controls div{
    display: flex;
    align-items: center;
}

.dark-mode {
    background-color: black;
    color: #ffffff;
    border-color: #ffffff; 
}
/* CONTROL SECTION EDIT ENDS */

/* RESPONSIVE DESIGN */
@media (max-width:415px) {
    section.one{
        height: 90vh; 
    }

    .bannerBox{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        gap: 2rem;
        border-radius: 0.3rem;
        text-align: center;
        padding: 1.5rem;
        border: none !important;
        width: 100vw;
        margin-top: 20rem;
    }

    .bannerBox img{
        height: 60vh;
        border-radius: 0.3rem;
        margin-top: -2rem;
    }

    h1{
        width: 95vw;
    }

    /* CONTROL EDIT FOR RESPONSIVE DESIGN*/
    section.controls{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        width: 100vw;
       margin-top: 25rem;
        gap: 1.5rem;
    }
}