*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV EDIT STARTS */
nav ul{
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 2rem;
}

.logo{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
}

li a{
    color: white;
    text-decoration: none;
}

.get{
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    background-color: #ac502c;
    font-size: 1.5rem;
}
/* NAV EDIT ENDS */

/* SECTION ONE EDIT STARTS */
section.one{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.bannerBox{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    border-radius: 0.3rem;
    padding: 3rem 0;
    margin-top: 2rem;
    width: 98vw;
    height: 70vh;
}

.box1{
    background-image: url('/Assets/images/jollof-pic.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 98vw;
    padding-top: 4rem;
    position: relative;
    border-radius: 0.3rem;
}

.box1{
    p, h1 {
        position: relative;
        z-index: 100;
    }
}


.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 98vw;
    height: 70vh;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0.3rem;
}

h1{
    font-size: 4.2rem;
    text-align: center;
    color: white;
}

p{
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    color: rgb(234, 234, 234);
}

img{
    display: block;
}

.active{
    display: none;
}
/* SECTION ONE EDIT ENDS */


/* CONTROL SECTION EDIT STARTS */

section.controls{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 20vh;
    gap: 3rem;
}

button{
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.1px solid black;
    cursor: pointer;
    background-color: white;
}

input, select{
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.1px solid black;
}

section.controls div{
    display: flex;
    align-items: center;
}

.dark-mode {
    background-color: black;
    color: white;
}

.darkmode h1, .darkmode p{
    color: white;
}

/* CONTROL SECTION EDIT ENDS */

/* RESPONSIVE DESIGN */
@media (max-width:415px) {
    section.one{
        height: 90vh; 
    }

    .bannerBox{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        gap: 2rem;
        border-radius: 0.3rem;
        text-align: center;
        padding: 1.5rem;
        border: none !important;
        width: 100vw;
        margin-top: 20rem;
    }

    .bannerBox img{
        height: 60vh;
        border-radius: 0.3rem;
        margin-top: -2rem;
    }

    h1{
        width: 95vw;
    }

    /* CONTROL EDIT FOR RESPONSIVE DESIGN*/
    section.controls{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        width: 100vw;
       margin-top: 25rem;
        gap: 1.5rem;
    }
}